In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/korean-real-estate-transaction-data/Apart Deal.csv

pandas의 read_csv를 사용하여 csv(' ","로 나눠진 데이터셋 파일 ')를 읽어들일 수 있다. 반환되는 데이터 타입은 pd.DataFrame 타입이다.

첫번째 파라미터로 csv파일의 위치(str)를 받으며, sep(데이터를 나누는 문자)를 설정함으로서 csv 외의 파일도 불러올 수 있을 것으로 보인다. encoding 파라미터를 수정하여 들어오는 데이터의 인코딩 형식으로 데이터를 읽어올 수 있다.

In [2]:
import pandas as pd

data = pd.read_csv('../input/korean-real-estate-transaction-data/Apart Deal.csv', encoding='utf-8', na_values=' ')

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4315703 entries, 0 to 4315702
Data columns (total 9 columns):
 #   Column  Dtype
---  ------  -----
 0   지역코드    int64
 1   법정동     object
 2   거래일     object
 3   아파트     object
 4   지번      object
 5   전용면적    float64
 6   층       float64
 7   건축년도    int64
 8   거래금액    int64
dtypes: float64(2), int64(3), object(4)
memory usage: 296.3+ MB

- head()함수는 데이터를 출력하는 역할을 한다.

In [4]:
data.head(10)

    지역코드  법정동             거래일       아파트     지번      전용면적     층  건축년도   거래금액
0  31110  학성동  5/30/2020 0:00    남운학성타운    379  135.5800   8.0  1991  26700
1  31110  남외동   1/3/2020 0:00  남외푸르지오1차  506-1  101.6000   2.0  2006  35500
2  31110  남외동   1/3/2020 0:00     에일린의뜰    500   84.9920  11.0  2007  36500
3  31110  남외동   1/3/2020 0:00  남외푸르지오1차  506-1  118.7060   8.0  2006  43000
4  31110  남외동   1/4/2020 0:00  남외푸르지오2차  501-1   84.9636   7.0  2007  38700
5  31110  남외동   1/7/2020 0:00     에일린의뜰    500  114.7345   2.0  2007  41000
6  31110  남외동   1/8/2020 0:00     에일린의뜰    500   84.9920   5.0  2007  34000
7  31110  남외동   1/9/2020 0:00        백합  447-5   65.7200   5.0  1985   8000
8  31110  남외동  1/11/2020 0:00     에일린의뜰    500  114.7345  10.0  2007  44300
9  31110  남외동  1/18/2020 0:00  남외푸르지오1차  506-1   84.7820   9.0  2006  36000

- iloc은 index를 이용하여 데이터를 불러올 수 있다.

In [5]:
data.iloc[2]

지역코드            31110
법정동               남외동
거래일     1/3/2020 0:00
아파트             에일린의뜰
지번                500
전용면적           84.992
층                11.0
건축년도             2007
거래금액            36500
Name: 2, dtype: object

In [6]:
data.iloc[:7, 2:4]

              거래일       아파트
0  5/30/2020 0:00    남운학성타운
1   1/3/2020 0:00  남외푸르지오1차
2   1/3/2020 0:00     에일린의뜰
3   1/3/2020 0:00  남외푸르지오1차
4   1/4/2020 0:00  남외푸르지오2차
5   1/7/2020 0:00     에일린의뜰
6   1/8/2020 0:00     에일린의뜰

In [7]:
data.iloc[[2, 74, 43], 1:5]

    법정동             거래일         아파트     지번
2   남외동   1/3/2020 0:00       에일린의뜰    500
74  북정동  1/17/2020 0:00          동양  128-1
43  복산동   1/6/2020 0:00  동덕현대(103동)    329

- loc은 DataFrame의 column이름이나 index이름으로 데이터를 불러온다.

In [8]:
data.loc[2:5, '거래일': '지번']

             거래일       아파트     지번
2  1/3/2020 0:00     에일린의뜰    500
3  1/3/2020 0:00  남외푸르지오1차  506-1
4  1/4/2020 0:00  남외푸르지오2차  501-1
5  1/7/2020 0:00     에일린의뜰    500

- 조건형으로 원하는 데이터만을 불러올 수도 있다.

In [9]:
data.loc[(data['건축년도'].isin([2017, 2019])) & (data['거래금액'] >= 400000)]

,지역코드,법정동,거래일,아파트,지번,전용면적,층,건축년도,거래금액
2153943,11200,성수동1가,2020-06-16 00:00:00,트리마제,718,152.1556,4.0,2017,450000
2154546,11200,성수동1가,2020-07-26 00:00:00,트리마제,718,136.5606,44.0,2017,405000
2259779,11680,청담동,2019-04-05 00:00:00,청담린든그로브,67-1,232.9557,6.0,2017,439000
2260172,11680,청담동,2019-05-21 00:00:00,효성빌라 청담101(B동),101-17,226.7400,3.0,2019,530000
2264403,11680,청담동,2020-03-23 00:00:00,청담 어퍼하우스,64-1,197.7300,5.0,2019,520000

- describe와 count, mean, std, median 등을 통해서 수치형 데이터의 특징을 구할 수도 있다.

In [10]:
data.describe()

               지역코드          전용면적             층          건축년도          거래금액
count  4.315703e+06  4.315703e+06  4.315702e+06  4.315703e+06  4.315703e+06
mean   3.549689e+04  7.605603e+01  9.108944e+00  2.001340e+03  3.020880e+04
std    1.147806e+04  2.624946e+01  6.273175e+00  9.247246e+00  2.605684e+04
min    1.111000e+04  9.260000e+00 -4.000000e+00  1.961000e+03  1.000000e+02
25%    2.818500e+04  5.974880e+01  4.000000e+00  1.995000e+03  1.500000e+04
50%    4.127300e+04  7.958700e+01  8.000000e+00  2.001000e+03  2.400000e+04
75%    4.311400e+04  8.496000e+01  1.300000e+01  2.008000e+03  3.700000e+04
max    5.013000e+04  4.243200e+02  8.300000e+01  2.021000e+03  8.400000e+05

In [20]:
data['층'].median()

8.0

- Series의 unique()를 이용하면 해당 칼럼의 고유값들을 알 수 있다. 그리고 value_counts()를 사용하면, 해당 데이터가 몇 개 있는지 확인 가능하다.

In [21]:
data['아파트'].nunique(), data['아파트'].unique()

(32305,
 array(['남운학성타운', '남외푸르지오1차', '에일린의뜰', ..., '힐스테이트 동탄역',
        '봉담 코아루 카보드 ZOOM 시티', '송우시그니엘타워'], dtype=object))

In [22]:
data['아파트'].value_counts()

현대           36896
주공           13795
삼성           13522
주공2          13407
성원           13283
             ...
한실들마을(임대)        1
태전남향             1
우일하이츠빌라          1
삼흥탑스빌            1
베네시안 2차          1
Name: 아파트, Length: 32305, dtype: int64

- 아래와 같이 select_dtypes를 이용하면 원하는 데이터형이 보관된 칼럼만 확인할 수 있다.

In [14]:
data.select_dtypes('object')

              법정동                  거래일          아파트      지번
0             학성동       5/30/2020 0:00       남운학성타운     379
1             남외동        1/3/2020 0:00     남외푸르지오1차   506-1
2             남외동        1/3/2020 0:00        에일린의뜰     500
3             남외동        1/3/2020 0:00     남외푸르지오1차   506-1
4             남외동        1/4/2020 0:00     남외푸르지오2차   501-1
...           ...                  ...          ...     ...
4315698  애월읍 하귀1리  2021-04-07 00:00:00  제주하귀휴먼시아2단지   166-1
4315699   한림읍 한림리  2021-04-06 00:00:00           영신  1530-2
4315700       동홍동  2021-03-26 00:00:00       동호아트리움    2196
4315701       동홍동  2021-03-29 00:00:00       동홍동코아루     157
4315702       동홍동  2021-03-31 00:00:00   주공5차(동홍5차)    1674

[4315703 rows x 4 columns]

- Series에 isnull()를 이용하면, 해당 칼럼의 데이터가 nan값인지(bool형태) 알 수 있다. 더해서 sum()을 이용하면 해당 칼럼의 nan 데이터 개수를 알 수 있다.

In [15]:
data['층'].isnull().sum()

1

- map과 apply를 이용해서 데이터를 mapping 할 수 있다. 
- map은 해당 칼럼 Series의 데이터를 함수(or lambda)를 이용하여 바꿀 수 있다.
- apply는 DataFrame이나 Series의 데이터를 확인하면서 mapping 할 수 있다. axis 설정을 통해 칼럼 방향, 인덱스 방향 설정이 가능하다.

In [17]:
data.loc[:100,'건축년도'].map(lambda x: x-int(data['건축년도'].mean()))

0     -10
1       5
2       6
3       5
4       6
       ..
96      4
97      6
98      3
99     14
100     3
Name: 건축년도, Length: 101, dtype: int64

In [18]:
def remean_points(row):
    row['건축년도'] = row['건축년도'] - int(data['건축년도'].mean())
    return row

In [19]:
data.iloc[:100].apply(remean_points, axis='columns')

     지역코드  법정동             거래일       아파트      지번      전용면적     층  건축년도   거래금액
0   31110  학성동  5/30/2020 0:00    남운학성타운     379  135.5800   8.0   -10  26700
1   31110  남외동   1/3/2020 0:00  남외푸르지오1차   506-1  101.6000   2.0     5  35500
2   31110  남외동   1/3/2020 0:00     에일린의뜰     500   84.9920  11.0     6  36500
3   31110  남외동   1/3/2020 0:00  남외푸르지오1차   506-1  118.7060   8.0     5  43000
4   31110  남외동   1/4/2020 0:00  남외푸르지오2차   501-1   84.9636   7.0     6  38700
..    ...  ...             ...       ...     ...       ...   ...   ...    ...
95  31110  성안동  1/19/2020 0:00    성안청구타운   370-1   74.8000   5.0    -5  14600
96  31110  성안동  1/21/2020 0:00    태인제이드빌  871-15   81.6785   7.0     4  16000
97  31110  성안동  1/21/2020 0:00     현대싱그런     758   84.9552   4.0     6  21000
98  31110  성안동  1/23/2020 0:00    개벽이루마빌   388-1   83.9971   6.0     3  14800
99  31110  성안동  1/23/2020 0:00    신승화이트락   405-4   84.9244   7.0    14  19500

[100 rows x 9 columns]

- groupby를 이용하면 해당 칼럼에 대한 다른 칼럼 특징(mean, median, std, 등)을 불러올 수 있다.

In [28]:
data[:1000].groupby('아파트').describe()

          지역코드                                                             \
         count     mean  std      min      25%      50%      75%      max
아파트
(468-10)   3.0  31110.0  0.0  31110.0  31110.0  31110.0  31110.0  31110.0
e편한세상 강변  45.0  31110.0  0.0  31110.0  31110.0  31110.0  31110.0  31110.0
강동그린타워     1.0  31110.0  NaN  31110.0  31110.0  31110.0  31110.0  31110.0
개벽이루마빌     1.0  31110.0  NaN  31110.0  31110.0  31110.0  31110.0  31110.0
경동윈츠힐1     1.0  31110.0  NaN  31110.0  31110.0  31110.0  31110.0  31110.0
...        ...      ...  ...      ...      ...      ...      ...      ...
현대글로리아맨션   1.0  31110.0  NaN  31110.0  31110.0  31110.0  31110.0  31110.0
현대싱그런      5.0  31110.0  0.0  31110.0  31110.0  31110.0  31110.0  31110.0
희마비아이피맨션   3.0  31110.0  0.0  31110.0  31110.0  31110.0  31110.0  31110.0
힐그린스위트     1.0  31110.0  NaN  31110.0  31110.0  31110.0  31110.0  31110.0
힐그린파크      1.0  31110.0  NaN  31110.0  31110.0  31110.0  31110.0  31110.0

          전용면적             ...    건축년도          거래금액                \
         count       mean  ...     75%     max count          mean
아파트                        ...
(468-10)   3.0  82.413733  ...  2019.0  2019.0   3.0  29333.333333
e편한세상 강변  45.0  82.997084  ...  2015.0  2015.0  45.0  38155.555556
강동그린타워     1.0  82.840000  ...  1995.0  1995.0   1.0  14500.000000
개벽이루마빌     1.0  83.997100  ...  2004.0  2004.0   1.0  14800.000000
경동윈츠힐1     1.0  84.963200  ...  2002.0  2002.0   1.0  18900.000000
...        ...        ...  ...     ...     ...   ...           ...
현대글로리아맨션   1.0  65.887500  ...  1991.0  1991.0   1.0  11000.000000
현대싱그런      5.0  84.955200  ...  2007.0  2007.0   5.0  20580.000000
희마비아이피맨션   3.0  64.843333  ...  1990.0  1990.0   3.0  13300.000000
힐그린스위트     1.0  82.210700  ...  2012.0  2012.0   1.0  18500.000000
힐그린파크      1.0  84.948000  ...  2013.0  2013.0   1.0  20000.000000


                  std      min      25%      50%      75%      max
아파트
(468-10)  1154.700538  28000.0  29000.0  30000.0  30000.0  30000.0
e편한세상 강변  3884.749059  31800.0  35300.0  37900.0  39900.0  49500.0
강동그린타워            NaN  14500.0  14500.0  14500.0  14500.0  14500.0
개벽이루마빌            NaN  14800.0  14800.0  14800.0  14800.0  14800.0
경동윈츠힐1            NaN  18900.0  18900.0  18900.0  18900.0  18900.0
...               ...      ...      ...      ...      ...      ...
현대글로리아맨션          NaN  11000.0  11000.0  11000.0  11000.0  11000.0
현대싱그런      855.569985  20000.0  20000.0  20000.0  21000.0  21900.0
희마비아이피맨션  3315.116891  10600.0  11450.0  12300.0  14650.0  17000.0
힐그린스위트            NaN  18500.0  18500.0  18500.0  18500.0  18500.0
힐그린파크             NaN  20000.0  20000.0  20000.0  20000.0  20000.0

[184 rows x 40 columns]

In [31]:
data[:1000].groupby('아파트')['거래금액'].agg([len, min, max])

          len    min    max
아파트
(468-10)    3  28000  30000
e편한세상 강변   45  31800  49500
강동그린타워      1  14500  14500
개벽이루마빌      1  14800  14800
경동윈츠힐1      1  18900  18900
...       ...    ...    ...
현대글로리아맨션    1  11000  11000
현대싱그런       5  20000  21900
희마비아이피맨션    3  10600  17000
힐그린스위트      1  18500  18500
힐그린파크       1  20000  20000

[184 rows x 3 columns]

- sort_values()를 이용하면, 원하는 형태로 데이터 정렬이 가능하다.
- 또한, sort_index()를 통해 index 순서로 정렬도 가능하다.

In [35]:
data[:1000].groupby('아파트')['거래금액'].mean().sort_values()

아파트
학성                 6500.000000
평화보라타운             6750.000000
삼부맨션               7000.000000
다운                 7653.478261
청강                 8000.000000
                      ...
우정혁신도시2차동원로얄듀크    47686.842105
울산유곡푸르지오          48460.000000
울산약사더샵            48808.695652
태화강엑소디움           51310.000000
우정I'PARK          51428.846154
Name: 거래금액, Length: 184, dtype: float64

In [37]:
data[:1000].sort_values(by=['거래금액', '층'], ascending=False)

      지역코드  법정동             거래일       아파트    지번      전용면적     층  건축년도   거래금액
126  31110  옥교동  1/14/2020 0:00   태화강엑소디움  82-1  153.7900  19.0  2010  63000
420  31110  우정동  2/18/2020 0:00  우정I'PARK   689  139.4895  15.0  2010  62000
150  31110  우정동  1/17/2020 0:00  우정I'PARK   689  139.4895  22.0  2010  60000
164  31110  우정동  1/29/2020 0:00  우정I'PARK   689  125.5478  24.0  2010  58000
139  31110  우정동  1/10/2020 0:00  우정I'PARK   689  125.5478   8.0  2010  57800
..     ...  ...             ...       ...   ...       ...   ...   ...    ...
860  31110  다운동   5/4/2020 0:00        다운   768   39.9900   6.0  1992   6400
18   31110  다운동  1/14/2020 0:00        다운   768   39.9900   8.0  1992   6350
866  31110  다운동  5/19/2020 0:00        다운   768   39.9900   4.0  1992   6350
698  31110  다운동   4/9/2020 0:00        다운   768   39.9900   7.0  1992   6100
864  31110  다운동  5/16/2020 0:00        다운   768   39.9900   5.0  1992   6100

[1000 rows x 9 columns]

- dropna()를 이용하면 nan값을 뺀 데이터셋을 가져올 수 있다

In [38]:
data.dropna()

,지역코드,법정동,거래일,아파트,지번,전용면적,층,건축년도,거래금액
0,31110,학성동,5/30/2020 0:00,남운학성타운,379,135.5800,8.0,1991,26700
1,31110,남외동,1/3/2020 0:00,남외푸르지오1차,506-1,101.6000,2.0,2006,35500
2,31110,남외동,1/3/2020 0:00,에일린의뜰,500,84.9920,11.0,2007,36500
3,31110,남외동,1/3/2020 0:00,남외푸르지오1차,506-1,118.7060,8.0,2006,43000
4,31110,남외동,1/4/2020 0:00,남외푸르지오2차,501-1,84.9636,7.0,2007,38700
...,...,...,...,...,...,...,...,...,...
4315698,50110,애월읍 하귀1리,2021-04-07 00:00:00,제주하귀휴먼시아2단지,166-1,84.8400,7.0,2010,38500
4315699,50110,한림읍 한림리,2021-04-06 00:00:00,영신,1530-2,84.8700,4.0,1991,12000
4315700,50130,동홍동,2021-03-26 00:00:00,동호아트리움,2196,74.9261,3.0,2019,32500
4315701,50130,동홍동,2021-03-29 00:00:00,동홍동코아루,157,60.9375,3.0,2013,24100
4315702,50130,동홍동,2021-03-31 00:00:00,주공5차(동홍5차),1674,39.7900,5.0,1999,12500

- pd.to_datetime을 이용하면, dtype을 datetime으로 바꿀 수 있다. 
- datetime형태로 바꾸게 되면, 날짜나 시간 데이터를 쉽게 다룰 수 있다.

In [49]:
data['거래일'] = pd.to_datetime(data['거래일'])
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4315703 entries, 0 to 4315702
Data columns (total 9 columns):
 #   Column  Dtype
---  ------  -----
 0   지역코드    int64
 1   법정동     object
 2   거래일     datetime64[ns]
 3   아파트     object
 4   지번      object
 5   전용면적    float64
 6   층       float64
 7   건축년도    int64
 8   거래금액    int64
dtypes: datetime64[ns](1), float64(2), int64(3), object(3)
memory usage: 296.3+ MB